
	<header role="banner">
		<div class="head-wrapper">
			<h1>dez<span class="text-thin">glidden</span></h1>
			<p class="tagline">data. tech. problem solver</p>
			<figure class="profile-fig">
				<img src="assets/images/profile.jpg" class="profile-img" alt="picture of Dez Glidden">
			</figure>
			<!-- <div class="contact">
				<p class="contact-details">
					<a href="tel:{{site.tel_no}}" class="contact-call">
						<span class="accessible-text">Let's Talk</span>
						<span class="icon-phone"> </span>
						<span class="contact-tel">{{site.tel_no}}</span>
					</a>
				</p>
			</div> -->
		</div>
	</header>
